.navbar-fixed-top{
  background-color:#e8e4e3;
  border-color:#000;
  font-family: 'Lancelot', cursive;
  
}
li:hover{
  font-size:1em;
  background-color:#1e90ff;
}
h1{
  font-size: 2.5em;
  color:#1e90ff;
  font-family:'Lancelot', cursive ,Verdana, Arial, Sans serif;

}
body{
  background-color: #000;
 
}
h3{
  font-size: 2.5em;
  color:#1e90ff;
  font-family: 'Lancelot', cursive;
}
#project-header{
  padding-top:50px;
  padding-bottom:50px;
  border-top-style:solid;
  border-top:thick double #fff;
  font-family: 'Lancelot', cursive;
 
}
#skill-header{
  padding-top:50px;
  padding-bottom:50px;
  border-top-style:solid;
  border-top:thick double #fff;
  font-family: 'Lancelot', cursive;
}

#contact-header{
  padding-bottom:50px;
  padding-top:50px;
  border-top-style:solid;
  border-top:thick double #fff;
  font-family:'Lancelot', cursive;
}

p{
  font-size:1.5em;
  color:#1e90ff;
  margin-top:50px;
  font-family:'Lancelot', cursive;
}
#home-header{
   padding-top:60px;
  padding-bottom:60px;
  font-family:'Lancelot', cursive;
}
#about{
  text-align: center;
  border-top-style:solid;
  border-top:thick double #fff;
  font-family: 'Lancelot', cursive;
}
th{
  font-size:1em;
  font-family: 'Lancelot', cursive;
}
.navbar {
  font size:1em;

}
.menu {
  float: left;
}
  
a {
    padding: 10px;

  }
  
  a:hover {
    color: #c5cae9;
  }
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(30, 154, 255, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: -10px;
    position: relative;
    left: 10px;
    top: 13px;

    font-size: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}



