.navbar-fixed-top{
  background-color:#e8e4e3;
  border-color:#000;
  font-family: 'Lancelot', cursive;
}
li:hover{
  font-size:1em;
  background-color:#1e90ff;
}
h1{
  font-size: 2.5em;
  color:#1e90ff;
  font-family:'Lancelot', cursive ,Verdana, Arial, Sans serif;

}
body{
  background-color: #000;
 
}
h3{
  font-size: 2.5em;
  color:#1e90ff;
  font-family: 'Lancelot', cursive;
}
#project-header{
  padding-top:50px;
  padding-bottom:50px;
  border-top-style:solid;
  border-top:thick double #fff;
  font-family: 'Lancelot', cursive;
 
}
#skill-header{
  padding-top:50px;
  padding-bottom:50px;
  border-top-style:solid;
  border-top:thick double #fff;
  font-family: 'Lancelot', cursive;
}

#contact-header{
  padding-bottom:50px;
  padding-top:50px;
  border-top-style:solid;
  border-top:thick double #fff;
  font-family:'Lancelot', cursive;
}

p{
  font-size:1.5em;
  color:#1e90ff;
  margin-top:50px;
  font-family:'Lancelot', cursive;
}
#home-header{
   padding-top:60px;
  padding-bottom:60px;
  font-family:'Lancelot', cursive;
}
#about{
  text-align: center;
  border-top-style:solid;
  border-top:thick double #fff;
  font-family: 'Lancelot', cursive;
}
th{
  font-size:1em;
  font-family: 'Lancelot', cursive;
}
.navbar {
  font size:1em;

}
.menu {
  float: left;
}
  
a {
    padding: 10px;

  }
  
  a:hover {
    color: #c5cae9;
  }
.scrollToTop{
  width:200px; 
  height:300px;
  padding:20px; 
  font-weight: bold;

  color: #444;
  text-decoration: none;
  position:fixed;
  top:75px;
  right:40px;
  background: url('./arrow.png') no-repeat -20px 0px;
}
.scrollToTop:hover{
  text-decoration:none;
}


